@charset "UTF-8";

*{margin: 0; padding: 0;}

/* reset */
/* 폰트크기의 기본값은 16px */
 h1,h2,h3,h4,h5,h6{
    font-size: 16px;
    font-weight: normal; /* 폰트두께 */
}
a{
    text-decoration: none; /* ->밑줄 사라지는거 */
    color: #234;} /* color:#234랑 똑같음 */



.약::after{content: ""; clear: both; display: block;}
/* ->가상요소 애프터, 비포/ 가상으로 존재하는건 :: 두개 붙여야한다(가상클래스) */

.전체{
    background-color: #FD8A8A;
    width: 1000px;
    margin: 30px auto 0;
    padding: 20px;
    box-sizing: border-box;}
.전체>div + div{
    margin-top: 30px;}
/*     -> +는 형제를 나타냄 첫째는 형이 없으니까 해당 x
           나머지 둘째 셋째는 형이 있으니까 해당 o */
.전체 .첫째{
    background-color: #F1F7B5;
    padding: 20px;}
    .전체 .첫째:hover{
        color: rgb(141, 120, 231);
    }
    /* 첫째라는건 가상요소가 아니고 있는거니까 : 하나만!  */
.전체 .첫째 .첫자{
    background-color: #FFDCA9 ;
    width: 49%;
    height: 200px;
    float: left;
}
.전체 .첫째 .첫자.첫째자식1{
    margin-right: 2%;
}
.전체 .첫째 .첫자.첫째자식2{
}
.전체 .둘째{
    background-color: #A8D1D1;}
.전체 .둘째 .앵커{
    background-color: rgb(144, 144, 197);
}
.전체 .둘째 p{
    width: 150px;
    margin-top: 20px;}
.전체 .둘째 p a{}
.전체 .둘째 p a img{width: 100%;}
/* 인라인요소는 공간을 인식하지 못한다
그래서 넓이, 높이값을 주어도 적용되지 않는다
단, 예외로 img, button 태그는 
인라인 요소이지만 넓이와 높이가 적용된다 */

/* 인라인 요소 안에는 인라인 요소 만 들어간다
(인라인요소안에 블럭요소 들어가지 않음)
블럭요소 안에는 인라인요소, 블럭요소 모두 들어감 
span p (x), p span(0), span img(0)*/

.전체 .셋째{
    background-color: #94bd8b;}